@import url('https://fontlibrary.org/face/symbola');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
    /* WHY DOES TAILWIND KEEP FUCKING THIS UP */
    --font-symbola: 'Symbola';
    --font-mono: 'JetBrains Mono', monospace;
}

/* Create explicit utility classes */
:root {
  .font-symbola {
    font-family: var(--font-symbola);
  }
  
  .font-mono {
    font-family: var(--font-mono);
  }

  .font-sans {
    font-family: var(--font-sans); /* ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' */
  }
  
  .font-serif {
    font-family: var(--font-serif); /* ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif */
  }
}