---
import Layout from "../layouts/Layout.astro";
import Converter from "../components/Converter";

const searchParams = Astro.url.searchParams; // Now works
const initialInput = searchParams.get("i") || searchParams.get("input") || "";
---

<Layout page="converter">
    <section class="flex flex-col items-center justify-center">
        <Converter client:load {initialInput} />
    </section>
</Layout>
