---
import { Icon } from "astro-icon/components";
---

<footer class="flex flex-col items-center bg-neutral-900 py-12">
    <p>Made with ❤️ by aldenasf</p>
    <div class="flex flex-row">
        <a
            class="flex flex-row items-center underline duration-150 ease-in-out hover:text-red-300"
            href="https://github.com/aldenasf/aldenasf.github.io"
            ><Icon class="mr-1 text-lg" name="fa6-brands:github" />Source</a
        ><span class="mx-2">∙</span>
        <a>GPL v3</a>
    </div>
</footer>
