---

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>aldenasf</title>
        <meta property="og:title" content="aldenasf" />
        <meta property="og:description" content="small programmer who likes doing web stuff :3" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://aldenasf.github.io/" />
        <meta content="#ff6467" data-react-helmet="true" name="theme-color" />
        <meta content="http://github.com/aldenasf.png" name="og:image" />
        <link rel="icon" href="http://github.com/aldenasf.png" />
        <slot />
    </head>
</html>
