---

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Unicode Spoofer</title>
        <meta property="og:title" content="Unicode Spoofer" />
        <meta property="og:description" content="Replaces regular letters with visually similar alternatives" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url.origin} />
        <meta content="#ff6467" data-react-helmet="true" name="theme-color" />
        <meta content="http://github.com/aldenasf.png" name="og:image" />
        <link rel="icon" href="http://github.com/aldenasf.png" />
        <slot />
    </head>
</html>
