---
import "../styles/global.css";
import Head from "./Head.astro";
import Body from "./Body.astro";
import Footer from "../components/Footer.astro";
import Analytics from "@vercel/analytics/astro";

interface Props {
    page: "converter" | "characters" | "about";
}

const { page } = Astro.props;
---

<Head />
<Body>
    <header class="px-4">
        <div class="my-12 flex flex-col items-center justify-center">
            <a class="mt-2 text-center text-3xl font-bold text-blue-500" href="/">Unicode Spoofer</a>
            <p class="mt-2 text-center">Replaces regular letters with visually similar alternatives</p>
            <div class="mt-4 flex flex-row flex-wrap justify-center gap-1">
                <a
                    class="rounded-lg border-2 border-neutral-600 bg-neutral-800 px-3 py-0.5 text-center transition-colors duration-150 hover:bg-neutral-600"
                    class:list={[{ "!bg-neutral-600": page == "converter" }]}
                    href="/"
                >
                    <span>Converter</span>
                </a>
                <a
                    class="rounded-lg border-2 border-neutral-600 bg-neutral-800 px-3 py-0.5 text-center transition-colors duration-150 hover:bg-neutral-600"
                    class:list={[{ "!bg-neutral-600": page == "characters" }]}
                    href="/characters"
                >
                    <span>Character List</span>
                </a>
                <a
                    class="rounded-lg border-2 border-neutral-600 bg-neutral-800 px-3 py-0.5 text-center transition-colors duration-150 hover:bg-neutral-600"
                    class:list={[{ "!bg-neutral-600": page == "about" }]}
                    href="/about"
                >
                    <span>About</span>
                </a>
            </div>
        </div>
    </header>

    <main>
        <slot />
    </main>

    <Footer />
    <Analytics />
</Body>
